<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <connectionStrings>
      <add name="GPSDB" connectionString="Data Source=localhost;Initial Catalog=GPSDB;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
      <add name="SmsDbConStr" connectionString="Data Source=localhost;Initial Catalog=SmsDb;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
      <add name="SMSServer" connectionString="Data Source=localhost;Initial Catalog=SMSServer;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <appSettings>
      <add key="smsSetting" value="2"/>
      <!--Limited SMS = 1 , Unlimited SMS = 2-->
    </appSettings>
</configuration>
